<script>
    function downloadSplit() {
        // Downloads the file with the selected options to the user's computer
        var level = document.getElementById("levelSelect").value;
        var runType = document.getElementById("runType").value;
        var glitch = document.getElementById("glitch").value;
        var ship = document.getElementById("shipSelect").value;
        var fileName = "Slipstream Rogue Space - " + level + " " + runType + " " + glitch + " (" + ship + ").lss";

        // Open a new window with the file
        window.open("splits/" + fileName, "_blank");
    }

    function copyDownloadLink() {
        // Copies the link to the file with the selected options to the user's clipboard
        var level = document.getElementById("levelSelect").value;
        var runType = document.getElementById("runType").value;
        var glitch = document.getElementById("glitch").value;
        var ship = document.getElementById("shipSelect").value;
        var fileName = "Slipstream Rogue Space - " + level + " " + runType + " " + glitch + " (" + ship + ").lss";

        var link = window.location.href + "splits/" + fileName;

        navigator.clipboard.writeText(link);
        document.getElementById("copy").innerHTML = "Copied!";

        setTimeout(resetCopyButton, 3000);
    }

    function resetCopyButton() {
        // Resets the copy button to its original text
        document.getElementById("copy").innerHTML = "Copy Link";
    }
</script>

<p>

    <select id="levelSelect">
        <option value="Pluto" default>Pluto</option>
        <option value="Charon">Charon</option>
        <option value="Neptune">Neptune</option>
        <option value="Triton">Triton</option>
    </select>

    <select id="runType">
        <option value="Any%25" default>Any%</option>
        <option value="100%25">100%</option>
    </select>

    <select id="glitch">
        <option value="Glitchless" default>Glitchless</option>
        <option value="Glitched">Glitched</option>
    </select>

    <select id="shipSelect">
        <option value="Firecrest" default>Firecrest</option>
        <option value="Hedgehog">Hedgehog</option>
        <option value="Sparrow">Sparrow</option>
    </select>

    <button onclick="downloadSplit()">Download</button>
    <button id="copy" onclick="copyDownloadLink()">Copy Link</button>
</p>